/* Style.CSS

   Created : 2011-05-29
   Revised : 2011-06-01
   Author : Tom Coleman
   Copyright : 2011-2011
   By : University of Mississippi Medical Center
*/

body
{ font-family: Arial, Helvetica, sans-serif ;
  font-size: 10pt ;
}

header
{ font-family: "Comic Sans MS", "Lucida Casual", sans-serif ;
  font-size:13pt ;
  font-weight:bold ;

  margin-bottom:4px ;
}

footer
{ clear:both ;
}

.Title
{ font-family: "Comic Sans MS", "Lucida Casual", sans-serif ;
  font-size:13pt ;
  font-weight:bold ;

  color:red ;
}

.Column
{ height:385px ;
  
}

.LeftColumn
{ height:365px ;
  width:280px ;
  float:left ;
  margin-top:6px ;
}

.RightColumn
{ height:365px ;
  width:280px ;
  float:right ;
  margin-top:6px ;
}

.Buttons
{ width:180px ;
}

.Indented
{ margin-left:20px ;
}

.Scooched
{ margin-left:5px ;
}

#Menu
{ width:200px ;
  border-width:1px ;

  float:left ;

  margin-bottom:3px ;
}

#Panels
{ width:600px ;
  border-width:1px ;

  float:left ;

  margin-bottom:3px ;
}

/* #FFFFFF = White
   #1E90FF = Dodger Blue */
   
#Previous
{ width:85px ;
  color:#ffffff ;
  background-color:#1E90FF ;
}

#Next
{ width:85px ;
  color:#ffffff ;
  background-color:#1E90FF ;
}

#NextAlone
{ width:85px ;
  color:#ffffff ;
  background-color:#1E90FF ;
  margin-left:90px ;
}

/* End */
