/* Menu.CSS

   Created : 2011-06-01
   Revised : 2011-06-01
   Author : Tom Coleman
   Copyright : 2011-2011
   By : University of Mississippi Medical Center
*/

body
{ font-family: Arial, Helvetica, sans-serif ;
  font-size: 10pt ;
}

.Buttons
{ width:180px ;
}

#StopButton
{ width:46px ;
}

#RestartButton
{ width:60px ;
}

#OverlayButton
{ width:66px ;
}

#GoButton
{ width:40px ;
}

#GoPicks
{ width:136px ;
}

/* #FFFFFF = White
   #1E90FF = Dodger Blue */
   
#Previous
{ width:85px ;
  color:#ffffff ;
  background-color:#1E90FF ;
}

#Next
{ width:85px ;
  color:#ffffff ;
  background-color:#1E90FF ;
}

#NextAlone
{ width:85px ;
  color:#ffffff ;
  background-color:#1E90FF ;
  margin-left:90px ;
}

/* End */
